html {
    height: 100%;
    width: 100%;
}
body{
    background:
         
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        
        url(hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.main{
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    color: white;
    font-size: 80px;
}

.sub {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    color: white;
    font-size: 30px;
}
.c {
    display: flex;
    justify-content: center;
}
.l {
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    width: 250px;  
    color: lightsalmon;
}